body	{background-color:#000033;
		color: #FFFFFF;
		font-family: sans-serif;
		font-size:14pt;
		margin:60px 50px 100px 50px;
		}
h1		{text-align:center;
		font-family: copperplate gothic light;
		}
.center {text-align:center;
		}
a:link	{color:#7FFF00;
		}
a:visited{color:#2E8B57;
		}
a:hover	{color:#8B0000;
		text-decoration:overline;
		}
a:active{color:#7FFF00;
		}
hr	{color:#008B8B;
	background-color:#008B8B;
	border: 200000000000px;
	height: 2px;
	}
.font1 {font-weight:bold;
		font-style:italic;
		color:#9370DB;
		}
.font2 {font-weight:bold;
		font-style:italic;
		color:#2E8B57;
		}
li	{margin-bottom: 10px;
		}
		
		
		
.rightimg {float:right;
			margin:10px 0px 10px 30px;
			}
.leftimg {float:left;
			margin:10px 30px 10px 0px;
			}
table		{width:85%;
			margin: auto;
			}
table,th,td {border:5px solid #9370DB;
			border-collapse:collapse;
			}
th,td       {padding:10px;
}
.pagetable{width:95%;
		  border:4px solid;
		  margin:auto;
		  border-collapse:separate;
		  }
.topcell{border:4px solid;
        height:100px;
        padding:10px;
		background-color:#00ccff;
		}
.leftcell{border:4px solid;;
		width:20%;
        padding:10px;
		background-color:#00ccff;
		vertical-align:top;
		}
.maincell{border:4px solid;;
		width:80%;
        padding:10px;
		}